<!DOCTYPE html>
<html>
  <head>
    <title>imdb api</title>
    <style type="text/css">
        * {
            text-align: center;
        }
    	p {
    		font-size: 15px;
    	}
    	h5 {
    		font-size: 18px;
    	}
    	h4 {
    		font-size: 20px;
    	}
    </style>
  </head>
  <body>
    <h1>host your own imdb api</h1>

    <h4>Retrieve data (in json) for any movie.</h4>

    <h5>Usage:<h5>
    <p>http://getimdb.v3r.uk/get/?id= { imdb movie id }</p>

    <br>
    <h5>Examples:</h5>
    <p><a href="http://getimdb.v3r.uk/get/?id=tt0770828">http://getimdb.v3r.uk/get/?id=tt0770828</a></p>
    <p><a href="http://getimdb.v3r.uk/get/?id=tt1905041">http://getimdb.v3r.uk/get/?id=tt1905041</a></p>

    <br><br>
    <p>created by: <a href="http://v3r.uk/">Virendra Rajput</a></p>
    <p>Fork it on <a href="https://github.com/bkvirendra/imdb-scraper">Github</a></p>
  </body>
</html>