<!DOCTYPE html>
<html>
  <head>
    <title>imdb api</title>
    <style type="text/css">
    	p {
    		font-size: 15px;
    	}
    	h5 {
    		font-size: 18px;
    	}
    	h4 {
    		font-size: 20px;
    	}
    </style>
  </head>
  <body>
    <h1>imdb api</h1>

    <h4>Retrieve data (in json) for any movie.</h4>

    <h5>Usage:<h5>
    <p>http://getimdb.herokuapp.com/get/?id= { imdb id }</p>

    <br>
    <h5>Examples:</h5>
    <p><a href="http://getimdb.herokuapp.com/get/?id=tt0770828">http://getimdb.herokuapp.com/get/?id=tt0770828</a></p>
    <p><a href="http://getimdb.herokuapp.com/get/?id=tt1905041">http://getimdb.herokuapp.com/get/?id=tt1905041</a></p>


  </body>
</html>